.bi-twitter{
    color: #00acee;
}
.bi-line{
    color: #00b900;
}
.bi-instagram{
    color: #8a3ab9;
}
.bi-facebook{
    color: #3b5998;
}
.bi-youtube{
    color: #ff0000;
}
/*  */
.price::before{
    content: "NT$";
}
.price::after{
    content: " 元";
}

@media (min-width:768px){
    .w-lg-50{
        width: 50% !important;
    }
}

.start-25{left:25%;}
.start-75{left:75%;}